@import "../../styles/mixins.scss";

.post-it-note {
  font-family: "Reenie Beanie", serif;
  font-size: 2.7rem;
  color: white;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @include for-phone-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: none;
  }

  @include for-desktop-up {
    display: flex;
  }

  &.red {
    color: $red;
  }

  svg {
    display: flex;
    margin-bottom: 20px;

    &.whiteArrow {
      path {
        stroke: white;
        stroke-opacity: 1;
      }
    }

    &.reverseArrow {
      transform: scaleX(-1);
    }
  }
}
