@import "../../styles/mixins.scss";

.post-it-note {
  font-family: "Reenie Beanie", serif;
  font-size: 2.7rem;
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;

  &.red {
    color: $red;
  }

  svg {
    display: flex;
    margin-bottom: 20px;

    &.whiteArrow {
      path {
        stroke: white;
        stroke-opacity: 1;
      }
    }

    &.reverseArrow {
      transform: scaleX(-1);
    }
  }
}
