@import "../../styles/mixins.scss";

.hero-component {
  background-position-x: center;
  background-position-y: -340px;
  background-repeat: no-repeat;
  background-size: 1930px;
  width: 100%;
  height: 600px;

  @include for-phone-only {
    display: none;
  }
}
