@import "../../styles/mixins.scss";

.hero-wrapper {
  .bg-image {
    background-color: $lime-26;
    border-bottom-right-radius: 250px;
    height: 740px;
    right: 2.5%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @include for-phone-only {
      display: none;
    }
  }

  .content {
    align-items: center;
    display: flex;
    margin: 100px auto 0;
    padding: 0 40px;
    text-align: left;

    @include for-phone-only {
      margin: 260px auto 20px;
      padding: 0 20px;
      width: 100%;
    }

    @include for-tablet-portrait-up {
      align-items: flex-start;
      flex-direction: column;
    }

    @include for-tablet-landscape-up {
      align-items: center;
      flex-direction: row;
    }

    @include for-desktop-up {
      max-width: 100%;
    }

    @include for-big-desktop-up {
      width: 1600px;
    }
  }

  .intro {
    display: grid;
    margin-top: -200px;

    @include for-tablet-portrait-up {
      margin-top: 0;
    }

    span {
      font-family: "Sanchez", serif;
      color: $brand-blue;

      @include for-phone-only {
        font-size: 2rem;
      }

      @include for-tablet-portrait-up {
        font-size: 3rem;
      }

      @include for-tablet-landscape-up {
        font-size: 3rem;
      }

      @include for-desktop-up {
        font-size: 4rem;
      }

      @include for-big-desktop-up {
        font-size: 6rem;
      }

      &.sub {
        font-family: "Inter", sans-serif;
        font-size: 5rem;
        font-weight: 800;
        margin-bottom: 20px;

        @include for-phone-only {
          font-size: 2rem;
        }

        @include for-tablet-portrait-up {
          font-size: 2rem;
        }

        @include for-tablet-landscape-up {
          font-size: 3rem;
        }

        @include for-desktop-up {
          font-size: 4rem;
        }
      }
    }

    .button {
      max-width: 147px;
    }
  }

  .astronaut {
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 10px 90px 0 auto;
    position: relative;

    @include for-phone-only {
      display: none;
    }

    @include for-big-desktop-up {
      margin-right: 45px;
    }
  }
}
