$copy: hsla(251, 19%, 11%, 1);
$copy-60: rgba($copy, 0.6);
$copy-80: rgba($copy, 0.8);

$brand-blue: hsla(219, 82%, 57%, 1);

$grey: hsla(0, 0%, 79%, 1);
$grey-62: rgba($grey, 0.62);

$lime: hsla(118, 53%, 68%, 1);
$lime-26: rgba($lime, 0.26);
$lime-10: rgba($lime, 0.1);

$midnight: hsla(231, 28, 27, 100%);

$red: hsla(0, 100, 50, 47%);
