a {
  &.button {
    border-radius: 8px;
    color: white;
    display: inline-flex;
    font-family: "proxima_nova_bold";
    padding: 15px 20px;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &.primary {
      background-color: hsla(219, 82%, 57%, 1);
    }

    &:hover {
      color: rgba(255, 255, 255, 0.85);
      transform: translateY(-2px);
      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    }
  }
}
