a {
  &.button {
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    justify-content: center;
    padding: 15px 40px;
    text-decoration: none;
    transition: all 0.2s ease-in;
    white-space: nowrap;
    text-align: center;

    &.primary {
      background-color: hsla(219, 82%, 57%, 1);
    }

    &:hover {
      color: rgba(255, 255, 255, 0.85);
      transform: translateY(-2px);
      box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    }

    img {
      margin-right: 20px;
      max-width: 30px;
    }
  }
}
