@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700;800&family=Sanchez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie");

body,
a,
button,
p,
h1,
h2,
h3,
h4,
span,
div {
  font-family: "Inter", sans-serif;

  &::selection {
    background: $brand-blue;
    color: white;
  }
}
h1 {
  font-weight: 700;
}
