@import "../../styles/mixins.scss";

$bezier: cubic-bezier(0.77, 0, 0.175, 1);
$anim-timing: 4s;

.down-arrow-component {
  position: relative;
  right: 0;

  @include for-phone-only {
    display: none;
  }

  @include for-tablet-portrait-up {
    display: none;
  }
  @include for-tablet-landscape-up {
    display: block;
  }
}

.arrow {
  animation: slideDown $anim-timing $bezier forwards infinite normal;
  position: relative;
  transform: translateZ(0);
  transform-origin: bottom;
  z-index: 2;

  &::before {
    position: absolute;
    left: 111px;
    margin-left: -1px;
    width: 10px;
    height: 100px;
    background: white;
    content: " ";
    top: -59px;
    border-radius: 10px;
  }

  &::after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-top: 10px solid white;
    border-right: 10px solid white;
    transform: rotate(135deg);
    left: 95px;
    position: absolute;
    border-radius: 4px;
    top: -5px;
  }
}

.circle {
  background-color: $brand-blue;
  border-radius: 100px;
  height: 130px;
  margin-left: 50px;
  position: relative;
  top: -60px;
  width: 130px;
  z-index: 1;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(-100px);
  }
}

@keyframes colorChange {
  0% {
    filter: none;
  }

  50% {
    filter: invert(37%) sepia(16%) saturate(1148%) hue-rotate(180deg)
      brightness(73%) contrast(147%);
  }

  100% {
    filter: none;
  }
}
