@import "../../styles/mixins.scss";

.nav-wrapper {
  border-bottom: 1px solid $grey-62;
  justify-content: center;
  max-width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.6s;
  z-index: 3;
  transition: all 0.3s ease;
  width: 100%;

  &.hidden {
    top: -75px;
  }

  &.solid-bg {
    border-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
  }

  .nav-container {
    align-items: center;
    display: grid;
    padding: 15px 40px;
    margin: 0 auto;

    @include for-phone-only {
      grid-template-columns: 20% 80%;
      padding: 15px 20px;
      justify-content: space-between;
    }

    @include for-xs-phone-only {
      grid-template-columns: 20% 80%;
      padding: 15px 20px;
      width: 100%;
    }

    @include for-tablet-portrait-up {
      grid-template-columns: 3% 75% 20%;
    }

    @include for-tablet-landscape-up {
      grid-template-columns: 33% 33% 33%;
    }

    @include for-desktop-up {
      max-width: 100%;
    }
    @include for-big-desktop-up {
      max-width: 1600px;
    }

    .logo {
      text-align: left;

      img {
        max-width: 40px;
      }
    }

    nav {
      align-self: center;
      display: inline-flex;
      margin: 0 auto;

      @include for-phone-only {
        justify-self: end;
        margin: 0;
      }

      a {
        color: $copy;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;
        margin: 0 20px;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &:hover {
          color: $brand-blue;
          transform: translateY(-2px);
        }

        @include for-xs-phone-only {
          margin: 0 10px;
        }

        @include for-phone-only {
          margin: 0 11px;
        }

        @include for-tablet-landscape-up {
          margin: 0 30px;
        }
      }
    }

    .hire-me {
      color: $copy;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.04rem;
      display: inline-flex;
      justify-self: end;
      align-items: center;

      &::before {
        content: "";
        height: 10px;
        border-radius: 100px;
        background-color: $lime;
        display: block;
        left: -10px;
        position: relative;
        width: 10px;
      }

      @include for-xs-phone-only {
        display: none;
      }

      @include for-phone-only {
        display: none;
      }

      @include for-tablet-portrait-up {
        padding: 10px 13px;
        width: auto;
      }

      @include for-tablet-landscape-up {
        padding: 13px 20px;
      }
    }
  }
}
