@import "../../styles/mixins.scss";

.nav-wrapper {
  border-bottom: 1px solid $grey-62;
  justify-content: center;
  max-width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.6s;
  z-index: 3;
  transition: all 0.3s ease;
  width: 100%;

  &.hidden {
    top: -75px;
  }

  &.solid-bg {
    background-color: white;
    border-bottom: 1px solid $grey-62;
  }

  .nav-container {
    align-items: center;
    display: grid;
    padding: 15px 40px;
    margin: 0 auto;

    @include for-phone-only {
      grid-template-columns: 10% 70% 20%;
      padding: 15px 20px;
    }

    @include for-xs-phone-only {
      grid-template-columns: 15% 85% 0;
      padding: 15px 20px;
      width: 100%;
    }

    @include for-tablet-portrait-up {
      grid-template-columns: 7% 68% 25%;
    }

    @include for-tablet-landscape-up {
      grid-template-columns: 10% 70% 20%;
    }

    @include for-desktop-up {
      max-width: 100%;
    }
    @include for-big-desktop-up {
      max-width: 1600px;
    }

    .logo {
      text-align: left;

      img {
        max-width: 40px;
      }
    }

    nav {
      align-self: center;
      display: inline-flex;
      margin: 0 auto;

      a {
        color: $copy;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;
        margin: 0 20px;
        text-decoration: none;
        transition: all 0.2s ease-in;

        &:hover {
          color: $brand-blue;
          transform: translateY(-2px);
        }

        @include for-xs-phone-only {
          margin: 0 10px;
        }

        @include for-phone-only {
          margin: 0 11px;
        }

        @include for-tablet-landscape-up {
          margin: 0 30px;
        }
      }
    }

    .links {
      align-items: center;
      display: inline-flex;
      justify-content: flex-end;
      margin-left: 10px;

      .github {
        margin-right: 20px;
        transition: all 0.2s ease-in;

        @include for-phone-only {
          display: none;
        }

        @include for-tablet-portrait-up {
          margin-right: 15px;
        }

        img {
          width: 30px;
        }
      }

      .hire-me {
        background: $brand-blue;
        border-radius: 8px;
        color: white;
        font-size: 0.875rem;
        font-weight: 700;

        @include for-xs-phone-only {
          display: none;
        }

        @include for-phone-only {
          padding: 10px 13px;
          width: auto;
        }

        @include for-tablet-portrait-up {
          padding: 10px 13px;
          width: auto;
        }

        @include for-tablet-landscape-up {
          padding: 13px 20px;
          width: 90px;
        }
      }
    }
  }
}
