@import "../../styles/mixins.scss";

.portfolio-component {
  margin: 150px auto;
  padding: 60px;

  background: $brand-blue-04;
  border-top: 1px solid $grey-62;

  width: 100vw; /* make it 100% of the viewport width (vw) */
  margin-left: calc(
    (100% - 100vw) / 2
  ); /* then remove the gap to the left of the container with this equation */

  @include for-phone-only {
    margin: 0 auto;
    padding: 50px 20px;
  }

  @include for-tablet-portrait-up {
    margin-top: 0;
  }

  @include for-tablet-landscape-up {
    margin: 50px auto;
  }

  @include for-desktop-up {
    margin: 50px auto;
  }

  .wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-wrap {
      margin: 40px 0;
      text-align: center;
      width: 100%;
    }

    h2 {
      color: $brand-blue;
      font-family: "Inter", sans-serif;
      font-style: italic;
      font-weight: 800;
      font-size: 3rem;
      margin-bottom: 0;

      @include for-phone-only {
        font-size: 3rem;
      }
    }

    .subtitle {
      color: $copy-60;
      display: block;
      font-size: 1rem;
      margin: 20px 0 35px;

      @include for-phone-only {
        margin-bottom: 0px;
      }
    }

    .title-bottom-border {
      border: none;
      border-top: 5px solid $grey-62;
      height: 0px;
      margin-bottom: 80px;
      max-width: 75px;
    }

    .code-cta {
      margin-top: 20px;
      position: relative;
      text-align: right;

      @include for-phone-only {
        margin: 10px 0 50px;
        text-align: left;
      }
    }
  }

  .portfolio-container {
    .port-item {
      align-items: flex-start;
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 60px 0;

      @include for-phone-only {
        grid-template-columns: 1fr;
        margin: 120px 0;
      }

      &:first-of-type {
        margin: 20px 0 60px 0;
      }

      &:last-of-type {
        margin: 60px 0 0;
        @include for-phone-only {
          margin: 120px 0 0;
        }
      }

      span {
        display: flex;
      }

      .title {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .description {
        color: $copy-60;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 10px 0;
        max-width: 475px;
        width: 100%;
        padding-right: 20px;

        @include for-phone-only {
          font-weight: 500;
          font-size: 1rem;
          margin: 20px 0;
          padding-right: 0;
        }
      }

      .tags {
        display: inline-flex;
        margin-top: 10px;
        align-items: center;

        @include for-phone-only {
          flex-wrap: wrap;
        }

        @include for-tablet-portrait-up {
          flex-wrap: wrap;
        }

        @include for-desktop-up {
          flex-wrap: wrap;
          max-width: 500px;
          row-gap: 15px;
        }

        .tag {
          background-color: $grey-15;
          border: 1px solid $copy-25;
          border-radius: 8px;
          color: $midnight;
          font-size: 0.75rem;
          margin-right: 15px;
          padding: 10px 12px;

          &:last-of-type {
            margin-right: 0;
          }

          @include for-phone-only {
            line-height: 1.2;
            margin-bottom: 10px;
            padding: 5px 8px;
            text-align: center;
          }

          @include for-tablet-portrait-up {
            margin-bottom: 10px;
          }

          @include for-desktop-up {
            margin-bottom: 0;
          }
        }
      }

      .port-image {
        width: 100%;

        @include for-phone-only {
          height: auto;
          margin: 0 0 0 auto;
        }

        @include for-tablet-portrait-up {
          margin: 0px 0 50px auto;
        }

        @include for-tablet-portrait-up {
          margin: 0px 0 100px auto;
        }

        img {
          border-radius: 10px;
          max-width: 100%;
        }
      }

      a {
        color: $brand-blue;
        display: block;
        font-size: 1.2rem;
        margin-top: 20px;
        width: 220px;
        text-decoration: none;
        position: relative;

        &::before {
          content: "";
          width: 25px;
          height: 2px;
          background: $brand-blue;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          right: 24px;
          transition: all 0.3s ease;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 0 5px 5px;
          border-color: transparent transparent transparent $brand-blue;
          position: absolute;
          top: 50%;
          margin-top: -5px;
          right: 20px;
          transition: all 0.3s ease;
        }

        &:hover {
          opacity: 0.8;
          &:after {
            right: 0px;
          }
          &:before {
            right: 0px;
            width: 30px;
          }
        }

        @include for-phone-only {
          margin: 20px 0;
        }
      }
    }
  }
}
